.headerCity {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
  max-width: 200px;
}

.btn {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.hr {
  margin: 0;
}

@media (max-width: 767px) {
  .headerCity {
    flex-direction: column;
    align-items: flex-end;
  }
}
