.wrapper {
  display: grid;
  row-gap: 15px;
}

.wrapperItem {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-flow: column;
}

.item {
  margin-bottom: 0;
}

@media (max-width: 767px) {
}
