@import '@/shared/styles/variables';

.footer {
  flex: 0 0 auto;
  background: #f4f4f4;
}
.bottom {
  padding-top: 18px;
  padding-bottom: 18px;
  background: rgba(0, 0, 0, 0.15);
}
.top {
  padding-top: 30px;
  padding-bottom: 30px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer__indent {
  padding-left: 62px;
}
.footer__copyright {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}
.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 10px;
}
.menu {
  margin-bottom: 0;
  .item:not(:last-child) {
    margin-bottom: 15px;
  }
  .link {
    font-size: 15px;
    opacity: 0.8;
    line-height: 1;
  }
  .link:hover {
    opacity: 1;
  }
}

.logo {
  margin-bottom: 14px;
  padding-top: 8px;
}

.txt {
  font-size: 12px;
  line-height: 20px;
  max-width: 290px;
}
.contacts {
  display: grid;
  row-gap: 16px;
}
.contacts__item {
  max-width: 300px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $boldColor;
  opacity: 0.8;
  display: block;
}
.contacts__itemBig {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-decoration-line: underline;
  color: $boldColor;
}

@media (max-width: 997px) {
  .logo,
  .menu {
    margin-bottom: 20px;
  }
  .contacts__item {
    max-width: 220px;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
  .menu {
    .link {
      font-size: 13px;
    }
  }
  .contacts {
    .contacts__itemBig {
      font-size: 18px;
    }
  }
}
@media (max-width: 991px) {
  .txt {
    display: none;
  }
  .footer__indent {
    padding-left: 0;
  }
  .logo img {
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    margin-bottom: 40px;
    padding-top: 0;
  }
}
