.main {
  padding-top: 30px;
  padding-bottom: 60px;
  flex: 1 0 auto;
}
.wrapper {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}
.errorWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}
@media (max-width: 991px) {
  .main {
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .main {
    padding-bottom: 40px;
  }
}
