.wrapper {
  position: relative;
  display: grid;
  row-gap: 10px;
  place-items: center;
  margin-bottom: 130px;

  .text {
    font-size: 24px;
    line-height: 29px;
  }
  .img {
    margin: 0px 0 -30px 98px;
    width: 230px;
    height: 234px;
  }
  .btn {
    z-index: 2;
    position: relative;
  }
  &::before {
    content: url(../../shared/images/404img3.svg);
    position: absolute;
    bottom: -47px;
    right: -208px;
  }
  &::after {
    content: url(../../shared/images/404img2.svg);
    position: absolute;
    bottom: -50px;
    left: -70px;
  }
}
.title {
  font-weight: 700;
  font-size: 91px;
  line-height: 97px;
}
@media (max-width: 1200px) {
  .wrapper {
    &::after,
    &::before {
      content: none;
    }
  }
}

@media (max-width: 767px) {
  .wrapper {
    row-gap: 20px;
    .img {
      display: none;
    }
  }
  .title {
    font-size: 71px;
    line-height: 80px;
  }
}
