.trackBlock__wrapper {
  margin: 60px 0;
  display: grid;
  row-gap: 30px;
}

.list {
  display: flex;
  column-gap: 20px;
}
.skeletonItem {
  width: 100%;
}
@media (max-width: 1200px) {
  .list {
    display: grid;
    row-gap: 30px;
  }
}
@media (max-width: 767px) {
  .trackBlock__wrapper {
    margin: 40px 0;
    row-gap: 20px;
  }
}
