.requisites__wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 92px;
}

.card__title {
  margin-bottom: 15px;
}

@media (max-width: 1199px) {
  .requisites__wrapper {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .requisites__item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .requisites__item {
    width: 100%;
  }
  .card__title {
    margin-bottom: 8px;
  }
}
