@import '@/shared/styles/variables';

.wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
  background: #eceef3;
  display: flex;
  height: 100%;
  align-items: center;
}

.desktopSelectCityBtn {
  &::before {
    content: url(../../../shared/images/addressMarker.svg);
    height: 25px;
    display: flex;
    align-items: center;
  }
}
.socials {
  width: 70px;
  margin-right: -45px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.selectCityDesktop {
  flex-grow: 1;
}

.menu {
  display: flex;
  column-gap: 60px;
}

@media (max-width: 1440px) {
  .menu {
    column-gap: 35px;
  }
  .socials {
    width: 80px;
  }
}

@media (max-width: 997px) {
  .menu {
    justify-content: flex-start;
  }
  .wrapper {
    padding: 0;
    margin: 0;
    background: none;
  }
}

/* @media (max-width: 767px) {
  .wrapper {
    padding: 0;
    margin: 0;
    background: none;
  }
} */
