.contactForm {
  overflow: hidden;
  position: relative;
  padding: 20px 30px;
  display: flex;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  .contactForm__header {
    display: grid;
    row-gap: 10px;
    margin-bottom: 20px;
  }
  .contactForm__formSectionWrapper {
    margin-bottom: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .contactForm__formSection {
    display: grid;
    row-gap: 16px;
  }

  .contactFormImg__wrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 16px;
    img {
      height: 100%;
      border-bottom-right-radius: 16px;
      border-top-right-radius: 16px;
    }
  }
}

.textarea {
  width: 284px;
  height: 94px;
}

@media (max-width: 1200px) {
  .contactFormImg__wrapper {
    display: none;
  }
}

@media (max-width: 997px) {
  .contactForm__wrapper {
    z-index: 2;
  }

  .contactForm__formSection button {
    width: 100%;
  }
  .contactForm {
    justify-content: center;
    .contactForm__formSectionWrapper {
      display: grid;
      row-gap: 16px;
      justify-content: initial;
    }
    .textarea {
      width: 100%;
    }
    .contactFormImg__wrapper {
      z-index: 1;
      display: block;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      filter: opacity(0.5);
      background-image: url('../../../../shared/images/ContactForm.jpg');
      img {
        display: none;
      }
    }
  }
}
