/* ._new_modal_overlay {
  z-index: 10;
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.75);
}
._new_modal_wrapper {
  position: relative;
} */

.body {
  position: relative;
  width: 100%;
  pointer-events: auto;
  .closeBtn {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 25px;
    height: 25px;
  }
}