@import '@/shared/styles/variables';

.btn {
  margin: 30px auto;
  display: block;
  text-decoration-line: underline;
  color: $attentionColor;
}
@media (max-width: 767px) {
  .btn {
    margin: 20px auto;
    font-size: 18px;
    line-height: 21px;
  }
}
