.container {
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 997px) {
  .container {
    max-width: 830px;
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 720px;
  }
}
