.mainAbout {
  display: grid;
  row-gap: 28px;
}
.mainAbout p:last-child {
  margin-bottom: 0;
}
.img {
  position: relative;
  display: grid;
  place-items: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
}

@media (max-width: 1280px) {
  .img img {
    position: initial;
  }
}
@media (max-width: 991px) {
  .img {
    display: none;
  }
  .wrapper {
    grid-template-columns: initial;
  }
}
@media (max-width: 767px) {
  .mainAbout {
    row-gap: 11px;
  }
}
