.wrapper {
  z-index: 100;
  position: fixed;
  right: 40px;
  bottom: 50px;
  border: 1px solid var(--color-blue-40, rgba(99, 159, 218, 0.4));
  background: var(--white, #fff);
  /* hover shadow */
  box-shadow: 0px 4px 40px 0px rgba(30, 73, 149, 0.1);
}
.btn {
  padding: 10px 15px;
}
@media (max-width: 767px) {
  .wrapper {
    right: 20px;
    bottom: 25px;
  }
}
