.wrapper {
  position: fixed;
  bottom: 15px;
  left: 0.5em;
  width: 400px;
  z-index: 1000;
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #c09853;
  padding: 15px;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px;
}
.closeWrapper {
  display: none;
}
.btn {
  float: right;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  font-size: 21px;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  font-weight: 700;
}

.img {
  width: 300px;
  padding: 15px 0px 13px 0px;
}
.close {
  color: #000;
  font-size: 35px;
  line-height: 19px;
}

.moreTxt {
  display: block;
  text-align: right;
  color: #2c5987;
}
@media screen and (max-width: 767px) {
  .wrapper {
    width: 75%;
  }
}
