.requisites__wrapper {
  margin: 20px 0;
  text-align: left;
}

.requisites__title {
  text-align: center;
}

.requisites__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 40px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    gap: 8px;
    margin-top: 20px;
  }
}

.requisites__gridItem {
  background: #00000008;
  border-radius: 20px;
  padding: 20px;

  @media (max-width: 767px) {
    border-radius: 16px;
    padding: 16px 64px 16px 16px;
    position: relative;
  }
}

.requisites__gridItemLong {
  grid-column: 1 / 3;

  @media (max-width: 767px) {
    grid-column: 1 / 2;
  }
}

.requisites__gridItemTitle {
  margin-bottom: 8px;

  @media (max-width: 767px) {
    margin-bottom: 4px;
  }
}

.requisites__gridItemTextWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.requisites__gridItemText {
  color: #00000099;
}

.requisites__gridItemCopy {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: relative;

  @media (max-width: 767px) {
    position: absolute;
    right: 16px;
    top: calc(50% - 12px);
  }

  &.active {
    .requisites__gridItemCopyTip {
      bottom: calc(100% + 8px);
      opacity: 1;
    }
  }

  &:hover,
  &.active {
    .requisites__gridItemCopyIcon path {
      stroke-opacity: 1;
      stroke: #2559d9;
    }
  }
}

.requisites__gridItemCopyIcon {
  path {
    transition: .2s;
  }
}

.requisites__gridItemCopyTip {
  position: absolute;
  right: 0;
  bottom: 50%;
  background: #2559d9;
  color: white;
  padding: 2px 12px;
  border-radius: 12px;
  pointer-events: none;
  box-shadow: 0 0 10px 0px #00000059;
  font-size: 14px;
  line-height: 24px;
  opacity: 0;
  transition: .2s;
}
