.wrapper {
  display: grid;
  row-gap: 30px;
}

.list__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 50px;
}

.article {
  display: grid;
  row-gap: 20px;
}

@media (max-width: 997px) {
  .wrapper {
    row-gap: 20px;
  }
  .list__wrapper {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
  .article {
    row-gap: 10px;
  }
}
