@import '@/shared/styles/variables';

.main {
  padding: 15px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-radius: 37px;
}

.blue {
  color: #ffffff;
  background: $attentionColor;
  &:hover {
    color: #fff;
    //background: linear-gradient(180deg, #459dd8 23.96%, #2558da 100%);
    box-shadow: inset 0px 4px 15px #459dd8;
  }
}

.gray {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.15);

  /* &:disabled {
    color: $main-color-gray;
    border: 1px solid $main-color-gray-soft-light;

    &:hover {
      color: #fff;
      background: linear-gradient(180deg, #459dd8 23.96%, #2558da 100%);
    }
  } */
  &:hover {
    //color: #fff;
    background: linear-gradient(180deg, white 23.96%, grey 100%);
  }
}

@media (max-width: 997px) {
  .main {
    padding: 9px 12px;
    font-size: 14px;
    line-height: 16px;
  }
}
