@import '@/shared/styles/variables';

.delivery__item {
  padding: 30px 0;
  display: grid;
  column-gap: 10px;
  grid-auto-flow: column;
  grid-template-columns: 200px 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  p {
    margin-bottom: 0;
  }
}
.delivery__header {
  margin-bottom: 60px;
}
.img {
  padding-top: 1rem;
  margin: 0 auto;
}

@media (max-width: 567px) {
  .delivery__item {
    display: block;
  }
  .img {
    padding-top: 0;
    padding-bottom: 1rem;
  }
  .delivery__header {
    margin-bottom: 20px;
  }
}
