@import '@/shared/styles/variables';

.provider__wrapper {
  display: flex;
  column-gap: 10px;
}

.provider__list {
  display: grid;
  row-gap: 12px;
}

.provider__item {
  display: block;
  &:hover {
    color: $attentionColor;
  }
}

@media (max-width: 997px) {
  .provider__wrapper {
    display: grid;
    row-gap: 10px;
  }
  .provider__item {
    font-size: 14px;
    line-height: 16px;
  }
  .provider__list {
    display: grid;
    row-gap: 10px;
  }
}
