@import '@/shared/styles/variables';

.companyPage__wrapper {
  margin-bottom: 67px;
  display: grid;
  row-gap: 30px;
}

.company__wrapper {
  display: grid;
  row-gap: 60px;
  section p:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

@media (max-width: 997px) {
  .companyPage__wrapper {
    margin-bottom: 40px;
    row-gap: 12px;
  }
  .company__wrapper {
    row-gap: 20px;
    section p {
      margin-bottom: 1rem;
    }
  }
}
