.headerContacts {
  display: flex;
  column-gap: 30px;
  justify-content: flex-end;
}
.item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.icon {
  height: 18px;
  width: 18px;
}
.phoneText {
  font-weight: 500;
  color: #000;
  font-size: 20px;
  line-height: 24px;
}

.phoneIcon {
  display: none;
}

.bigLink {
  font-weight: 500;
  color: #000;
  font-size: 20px;
  line-height: 24px;
}
.itemContent {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.bigLink:hover,
.smallLink {
  color: #4ea1df;
}

.smallLink {
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 100%;
}

@media (max-width: 1440px) {
  .phoneText,
  .bigLink {
    font-size: 16px;
  }
}

@media (max-width: 1199px) {
  .headerContacts {
    padding-left: 0;
    column-gap: 20px;
    height: 100%;
    align-items: center;
    //justify-content: space-around;
  }
}

@media (max-width: 997px) {
  .phoneIcon {
    display: block;
  }
  .itemContent {
    margin: 0;
  }
  .item:last-child {
    order: 1;
  }
  .phoneBtn,
  .phoneText {
    display: none;
  }
  .itemEmail::before {
    height: 14px;
  }
  .item:first-child {
    order: 2;
  }
  .text {
    display: none;
  }
  .bigLink {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .bigLink {
    display: none;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  .headerContacts {
    column-gap: 22px;
  }
}
