@import '@/shared/styles/variables';

.menu__item {
  position: relative;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.menu__link {
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 16px;
  &:hover {
    color: $attentionColor;
  }
}
.dropdownMenu {
  z-index: 9;
  position: absolute;
  top: 100%;
  display: block;
  left: 0;
  margin-top: 0;
  min-width: 200px;
  background: #fff;
  box-shadow: 0 14px 24px rgb(0 0 0 / 26%);
  .dropdownMenu__item {
    background: #fff;
  }
  .menu__link {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
  }
  .dropdownMenu {
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0;
  }
  .dropdownMenu__item:first-child {
    display: flex;
  }
}

.menu__link__hasChild::after {
  content: url(../../../shared/images/general/back.svg);
  transition: all 0.2s;
}

.menuCatalogNav::after {
  content: url(../../../shared/images/general/back.svg);
  transition: all 0.2s;
}
.menuCatalogNav[aria-expanded='true']::after {
  transform: rotate(270deg);
}
.menu__link__hasChild[aria-expanded='true']::after {
  transform: rotate(180deg);
}

.dropdownMenuHide{
  display: none;
}

@media (max-width: 1200px) {
  .dropdownMenu .menu__link,
  .menu__link {
    font-size: 14px;
  }
  .icon__wrapper {
    display: none;
  }
}

@media (max-width: 991px) {
  .menu__item:not(:last-child) {
    border-right: none;
  }
}

@media (max-width: 767px) {
  .dropdownMenu__item:first-child {
    justify-content: flex-end;
  }

  .menu__item {
    padding: 10px 25px;
    height: auto;
    flex-direction: column;
    align-items: initial;
    text-align: right;
    align-items: flex-end;
  }
  .menu__link {
    justify-content: flex-end;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
  }
  .dropdownMenu {
    position: static;
    min-width: auto;
    box-shadow: none;
    display: grid;
    row-gap: 12px;
    .menu__link {
      padding: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      white-space: initial;
    }
    .dropdownMenu__item {
      text-align: left;
    }
    .menu__item {
      padding: 0;
    }
    .dropdownMenu {
      position: static;
      padding: 12px 15px 0 0;
      display: grid;
      row-gap: 12px;
      .menu__link {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
  .menu__link__hasChild::after {
    transform: rotate(-90deg);
  }
  .menu__link__hasChild[aria-expanded='true']::after {
    transform: rotate(0deg);
  }
}
