@import '@/shared/styles/variables';

.headerSearch {
  position: relative;
  border: 1px solid rgba(99, 159, 218, 0.4);
  border-radius: 100px;
}
.wrapper {
  position: relative;
}

.listTips {
  z-index: 9;
  position: absolute;
  padding: 6px;
  left: 0;
  margin-top: 3px;
  width: 100%;
  background: #fff;
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.26);
}

.errorMsg {
  margin: 0;
  padding-left: 20px;
  position: absolute;
  left: 0;
  font-size: 14px;
}

.headerSearch__input {
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 23px;
  border: none;
  background-color: #fff;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 45px;
}

.headerSearch__btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  width: 45px;
  height: 45px;
}
.headerSearch__btn img {
  margin-left: auto;
  margin-right: auto;
}

.headerSearch__input::-moz-placeholder {
  color: #000;
}
.headerSearch__input:-ms-input-placeholder {
  color: #000;
}
.headerSearch__input::placeholder {
  color: #000;
}

@media (max-width: 767px) {
  .headerSearch__input {
    padding-left: 16px;
  }
}
