.list {
  display: grid;
  row-gap: 30px;
}
.listItem {
  display: grid;
  row-gap: 20px;
}
.listItem__img {
  cursor: pointer;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
