.contactForm__content {
  padding: 30px 47px 21px 276px;
  display: grid;
  row-gap: 20px;
  background: #f4f4f4;
  border-radius: 23px;
  background-image: url(../../../../shared/images/contactFormImg.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.contactForm__form {
  display: grid;
  row-gap: 20px;
  label {
    width: 100%;
  }
  .textarea {
    height: 130px;
  }
  .button {
    max-width: 220px;
  }
}

@media (max-width: 767px) {
  .contactForm__content {
    padding: 40px;
    background-image: none;
  }
  .contactForm__form {
    .button {
      padding: 15px;
      width: 100%;
      max-width: 100%;
    }
  }
}
