.productTable {
  width: 100%;
}

.productTable thead th {
  padding-bottom: 10px;
}

.productTable tbody {
  border: 1px solid rgba(0, 0, 0, 0.15);
}


.productTable td {
  padding: 20px 0;
}
.productTable tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.productTable tr:nth-child(2n) {
  background: #f8f8f8;
}

@media (max-width: 997px) {
  .productTable tr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .productTable tbody td {
    padding: 10px;
  }
  .productTable thead {
    display: none;
  }
}
