.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 7px;
}

.inputWrapper {
  position: relative;
  div[role='alert'] {
    position: absolute;
    left: 0;
    right: 0;
    width: 210px;
  }
}

.input {
  padding: 4px;
  width: 120px;
  border-radius: 2.5px;
  border: 1px solid #767676;
}

.hiddenInput {
  display: none;
}
@media (max-width: 767px) {
  .inputWrapper {
    div[role='alert'] {
      width: 150px;
    }
  }
  .title{
    flex-grow: 1;
    width: 100%;
  }
}
