.wrapper {
  margin: 30px 0;
  position: relative;
  height: 45px;
  padding: 0 50px;
}

.item__wrapper {
  display: none;
  row-gap: 13px;
  align-content: flex-start;
}

.itemActive {
  display: grid;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 20px;
  row-gap: 6px;
}

.text {
  font-size: 18px;
  line-height: 24px;
}

.next {
  right: 0;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.prev {
  left: 0;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.slider {
  display: flex;
  height: 100%;
}

.sliderBtn {
  padding: 10px;
  border-radius: 8px;
}

.sliderItem {
  //padding: 10px;
  display: flex;
  align-items: center;
  width: fit-content !important;
  border-radius: 8px;
  color: #222b34;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--color-blue-40, rgba(99, 159, 218, 0.4));
  cursor: pointer;
}

.active {
  height: 100%;
  display: flex;
  align-items: center;
  background: var(--color-blue, #2559d9);
  color: var(--bw-white, #fff);
}

@media (max-width: 997px) {
  .list__wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .list {
    grid-template-columns: repeat(2, auto);
  }
  .text {
    font-size: 13px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .sliderItem {
    font-size: 14px;
    font-style: normal;
  }
}
