.mainPartners {
  display: grid;
  row-gap: 28px;
}
.sliderWrapper {
  overflow: hidden;
  :global {
    .swiper-pagination {
      margin-top: 15px;
    }
  }
}
.mainPartners__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  font-weight: 700;
  font-size: 25px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.slideText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-weight: 700;
  font-size: 21px;
  border: 1px solid var(--bw-black-15, rgba(0, 0, 0, 0.15));
  background: var(--bw-white, #fff);
}

@media (max-width: 997px) {
  .mainPartners {
    row-gap: 11px;
  }
  .mainPartners__slide {
    height: 90px;
  }
  .mainPartners__sliderWrapper {
    padding-bottom: 20px;
    :global {
      .swiper-pagination {
        margin-top: 8px;
      }
    }
  }
}
