.add_to_cartBtn {
  position: relative;
  padding: 14px 18px;
  column-gap: 4px;
  text-align: left;
  &:hover {
    background: #2559d9;
    box-shadow: inset 0px 4px 15px #459dd8;
  }
}

.add_to_cartBtn__icon {
  height: 18px;
  width: 18px;
  path {
    fill: white;
  }
}

.inCartBtn {
  background: transparent;
  border-radius: 21px;
  border: 1px solid #2559d9;
  color: black;
  &:hover {
    svg path {
      fill: white;
    }
  }
  svg path {
    fill: black;
  }
}

@media (max-width: 997px) {
  .add_to_cartBtn__icon {
    width: 12px;
    height: 12px;
    right: 6px;
  }
  .add_to_cartBtn {
    padding: 9px 10px;
  }
}
