@import '@/shared/styles/variables';

.cart__table {
  display: grid;
  row-gap: 38px;
}

.table__body {
  display: grid;
  //row-gap: ;
}

@media (max-width: 997px) {
  .cart__table {
    row-gap: 0;
  }
}
