.cartPage__wrapper {
  margin-bottom: 67px;
  display: grid;
  row-gap: 60px;
}
.cartPage__header {
  display: grid;
  row-gap: 30px;
}

@media (max-width: 997px) {
  .cartPage__header {
    row-gap: 12px;
  }
  .cartPage__wrapper {
    margin-bottom: 30px;
    row-gap: 40px;
  }
}
