@import '@/shared/styles/variables';

.main {
  padding: 14px 20px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: #ffffff;
  border: 1px solid rgba(99, 159, 218, 0.4);
  border-radius: 12px;
  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 997px) {
  .main {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 160%;
  }
}
