.contactsLinks__wrapper {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .contactsLinks__wrapper {
    justify-content: space-around;
  }
}
