@import '@/shared/styles/variables';

.productAvailability {
  display: flex;
  align-items: center;
  column-gap: 6px;
  &::before {
    content: '';
    width: 9px;
    min-width: 9px;
    height: 9px;
    background: radial-gradient(50% 50% at 50% 50%, #48b22d 28.14%, rgba(129, 179, 117, 0) 100%);
    width: 20px;
    height: 20px;
    filter: blur(2px);
  }
}
