@import '@/shared/styles/variables';

.mainInfo__list {
  display: grid;
  row-gap: 20px;
}
.mainInfo__mapWrapper {
  height: 100%;
}
.mainInfo__item::before {
  content: '';
}
.wrapper {
  display: grid;
  grid-template-columns: 48% 50%;
  column-gap: 20px;
}
.mainInfo__item {
  padding-left: 66px;
  position: relative;
}
.mainInfo__item::before {
  position: absolute;
  left: 8px;
  top: 11px;
  width: 21px;
  height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.mainInfo__itemPhone::before {
  background-image: url(../../../../shared/images/general/phone-call.svg);
}
.mainInfo__itemAddress::before {
  background-image: url(../../../../shared/images/addressMarker.svg);
  width: 31px;
  height: 31px;
  left: 4px;
}
.mainInfo__itemMail::before {
  background-image: url(../../../../shared/images/general/envelope.svg);
}
.mainInfo__item__name {
  margin-bottom: 8px;
}
.mainInfo__item__name:not(:first-child) {
  margin-top: 12px;
}
.mainInfo__item__value {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: initial;
  }
  .mainInfo__mapWrapper {
    margin-top: 10px;

    height: 135px;
  }
  .mainInfo__item {
    padding-left: 45px;
  }
  .mainInfo__item__name {
    margin-bottom: 8px;
  }
}

@media (max-width: 567px) {
  .mainInfo__mapWrapper {
    margin: auto;
    width: 350px;
  }
}

@media (max-width: 367px) {
  .mainInfo__mapWrapper {
    margin: auto;
    width: 280px;
  }
}
