@import '@/shared/styles/variables';

.buy_one_clickBtn {
  padding: 14px 24px;
  font-weight: 500;
  color: $boldColor;
  background: #ffffff;
  border: 1px solid $attentionColor;
  border-radius: 37px;
  &:hover {
    box-shadow: inset 0px 0px 15px $attentionColor;
    color: $boldColor;
    background: transparent;
  }
}
@media (max-width: 767px) {
  .buy_one_clickBtn {
    padding: 6px 12px;
    width: 100%;
  }
}
