.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 100%;
  max-width: 285px;
  background: #ffffff;
  border: 1px solid rgba(99, 159, 218, 0.4);
}

.titleWrapper {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.imgWrapper {
  flex-grow: 1;
  .imgTitle {
    margin-top: 10px;
    text-align: center;
  }
}

.actionsWrapper {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
}
.price {
  color: #639fda;
}
