@import '@/shared/styles/variables';

.list {
  display: grid;
  row-gap: 5px;
}
.text {
  margin-bottom: 0;
  text-decoration: underline;
  color: $attentionColor;
}
.title {
  margin-bottom: 10px;
}
