@import '@/shared/styles/variables';

.productTable__availability {
  padding-left: 10px;
  padding-right: 10px;
  width: 19%;
}
.seoImgBock{
  display: none;
}
.item::before {
  content: '';
  width: 9px;
  min-width: 9px;
  height: 9px;
  background: url(../../../../../../shared/images/general/green-circle.svg) no-repeat;
  background-size: cover;
  margin-right: 6px;
}
.item {
  display: flex;
  align-items: center;
}
.productTable__price {
  color: $attentionColor;
  width: 30%;
}
.productTable__count {
  width: 13%;
}
.productTable__countBlock {
  max-width: 133px;
}

#productTable__name {
  padding: 0 0 0 20px;
  width: 22%;
}

@media (max-width: 997px) {
  .productTable__availability {
    width: 36%;
  }

  .productTable__count {
    width: 40%;
  }
  .productTable__price {
    width: 100%;
  }
  #productTable__name {
    padding: 10px;
    width: 40%;
  }
}

@media (max-width: 991px) {
  .productTable__availability {
    width: 25%;
  }
  .productTable__name {
    width: 40%;
  }
}
@media (max-width: 467px) {
  #productTable__name {
    width: 45%;
  }
  .productTable__availability {
    width: 44%;
  }
  .productTable__count {
    width: 45%;
  }
}
