@import '@/shared/styles/variables';

.openMenu {
  width: 32px;
  height: 32px;
  display: none;
  align-items: center;
}
.openMenu span {
  position: relative;
  width: 100%;
  display: block;
  height: 2px;
  background: $attentionColor;
}
.openMenu span::after,
.openMenu span::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background: $attentionColor;
  transition: all 0.2s ease-in-out;
}
.openMenu span::before {
  top: -8px;
}
.openMenu span::after {
  bottom: -8px;
}
@media (max-width: 997px) {
  .openMenu {
    display: flex;
  }
  .openMenu.navOpened span::after {
    transform: rotate(-45deg);
    bottom: 0;
  }
  .openMenu.navOpened span::before {
    transform: rotate(45deg);
    top: -2px;
  }
  .openMenu.navOpened span {
    height: 0;
  }
}
