.overlay {
  z-index: 9999;
  display: grid;
  place-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(248, 250, 252, .4);
}
.icon {
  height: 50px;
  width: 50px;
}
