.descriptionBlock h2 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.descriptionBlock h2:not(:first-child) {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .descriptionBlock h2 {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
  }
  .descriptionBlock h2:not(:first-child) {
    margin-top: 10px;
  }
}
