@import '@/shared/styles/variables';

.breadcrumbs {
  margin-bottom: 22px;
}

.list {
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
}

.item {
  display: flex;
  align-items: center;
}

.link {
  span {
    font-size: inherit;
    font-weight: inherit;
    color: $attentionColor;
    text-decoration: underline;
  }
  &::after {
    content: url(../../../shared/images/general/right.png);
    margin: 0 14px 1px;
    display: inline-flex;
    align-items: center;
  }
}
