@import '@/shared/styles/variables';

.countBlock {
  padding: 11px 18px;
  align-items: center;
  display: flex;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 100px;
}
.label {
  display: flex;
  justify-content: center;
  width: 100%;
}
.nominal {
  padding: 0 6px 0 0;
}
.input {
  padding: 0;
  width: 100%;
  text-align: center;
}
.count__btn {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  &::before {
    content: '';
    width: 16px;
    height: 2px;
    background: $attentionColor;
    border-radius: 10px;
  }
}

.count__btnPlus::after {
  content: '';
  position: absolute;
  transform: rotate(90deg);
  width: 16px;
  height: 2px;
  background: $attentionColor;
  border-radius: 10px;
}

@media (max-width: 997px) {
  .countBlock {
    padding: 6px 12px;
    width: 105px;
  }
  .label {
    font-size: 12px;
  }
}
