.header {
  z-index: 10;
  position: sticky;
  top: 0;
  background: #fff;
  flex: 0 0 auto;
}
.container {
  padding-top: 20px;
  padding-bottom: 25px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.desktopNavigation {
  position: relative;
  top: 0;
  transition: all 0.4s ease-out;
}
.hideNavigation {
  top: -80px;
  position: absolute;
  transition: all 0.4s ease-out;
}

.wrapper {
  display: grid;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
}

.desktopCatalogMenu {
  display: flex;
  height: 100%;
  justify-content: center;
}
.desktopCatalogMenuItem {
  font-size: 20px;
}

@media (max-width: 997px) {
  .desktopNavigation {
    display: none;
  }
  .desktopCatalogMenu {
    display: none;
  }
  .desktopCatalogMenuItem {
    display: none;
  }
  .container {
    grid-auto-flow: initial;
    column-gap: 10px;
    grid-template-columns: 50px 1fr 70px 45px;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
  }
  .headerSearchWrapper {
    grid-area: 2 / 1 / 3 / 5;
  }
  .wrapper {
    padding: 10px 0;
  }
  .container {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

/* @media (max-width: 767px) {
  .wrapper {
    padding: 10px 0;
  }
  .container {
    padding-top: 15px;
    padding-bottom: 10px;
  }
} */
