.contactPage__wrapper {
  display: grid;
  row-gap: 60px;
}
.contactPage__wrapperContacts {
  display: grid;
  row-gap: 30px;
}
@media (max-width: 997px) {
  .contactPage__wrapper {
    row-gap: 40px;
    margin-bottom: 0;
  }
  .titlePage {
    width: 250px;
  }
  .contactPage__wrapperContacts {
    row-gap: 20px;
  }
}
