@import '@/shared/styles/variables';
.menu {
  position: absolute;
  background: #fff;
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.26);
  top: 100%;
  left: auto;
  right: 0;
  min-width: 200px;
  border-radius: 5px;
  z-index: 9;
}
.link {
  font-weight: 500;
  padding: 10px;
  padding-right: 35px;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  color: rgb(34, 43, 52);
  text-decoration: none;
  font-size: 16px;
  &:hover {
    color: $attentionColor;
  }
}
.hr {
  margin: 8px 0;
  background: #eceef3;
  height: 1px;
}
@media (max-width: 767px) {
  .menu {
    position: static;
    box-shadow: none;
    min-width: none;
  }
  .hr {
    display: none;
    margin: 0;
  }
  .link {
    padding-right: 25px;
    text-align: right;
  }
}
