.wrapper {
  padding: 15px;
  position: relative;
  width: 100%;
  display: block;
  font-size: 100%;
  border: 1px solid #dddddd;
  background: #f6f6f6 50% 50% repeat-x;
  font-weight: bold;
  color: #0073ea;
  text-align: left;
  cursor: pointer;
}

.short_description {
  display: grid;
  row-gap: 20px;
}
