.product__wrapper {
  display: flex;
  align-items: center;
}
.product__img {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__name {
  margin-bottom: 0;
  flex: 100%;

  &:hover {
    color: #4ea1df;
  }
}

@media (max-width: 991px) {
  .product__img {
    width: 60px;
    height: 60px;
  }
  .product__name {
    padding-left: 0;
    padding-right: 18px;
    width: 100%;
    font-size: 14px;
    text-align: right;
  }
}
