@import '@/shared/styles/variables';

.tableBody__row {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr 1fr 1fr 50px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid #dadada;
  &:last-child {
    border-bottom: 1px solid #dadada;
  }
}
.tableBody__cell {
  text-align: center;
  button {
    margin: auto;
  }
}

.table__count {
  width: 140px;
  margin: auto;
}

@media (max-width: 997px) {
  .table__count {
    margin: 0 0 0 auto;
    padding: 15px;
  }
  .tableBody__row {
    grid-auto-flow: initial;
    grid-template-columns: repeat(2, 1fr);
  }
  .tableBody__cell:nth-child(1) {
    order: 1;
  }
  .tableBody__cell:nth-child(2) {
    order: 3;
  }
  .tableBody__cell:nth-child(3) {
    order: 2;
  }
  .tableBody__cell:nth-child(4) {
    order: 4;
  }
}
