.list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 12px;
  column-gap: 12px;
}

.item {
  padding: 30px;
  border-radius: 16px;
  border: 2px solid var(--BW-, #f4f4f4);
}

.title {
  margin-bottom: 30px;
  color: var(--bw-black-60, rgba(0, 0, 0, 0.6));
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

.link {
  display: block;
}
@media (max-width: 997px) {
  .item {
    padding: 15px;
  }
}

@media (max-width: 767px) {
  .list {
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .title {
    margin-bottom: 15px;
  }
}
