.headerCart__block {
  content: '';
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(180deg, #459dd8 23.96%, #2558da 100%);
  border-radius: 170px;
  &::before {
    content: url(../../../../shared/images/cartIcon.svg);
    margin-left: -2px;
    margin-bottom: -4px;
    z-index: 2;
  }
  &:hover {
    color: #fff;
    box-shadow: inset 0px 4px 15px #459dd8;
  }
}
.headerCart {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.headerCart__count {
  z-index: 2;
  position: absolute;
  top: 8px;
  right: 9px;
  width: 18px;
  height: 18px;
  text-align: center;
  background: #ff0000;
  border-radius: 170px;
  color: #ffffff;
}
.headerCart__count span {
  font-weight: 400;
}

@media (max-width: 1440px) {
  .headerCart__block {
    width: 47px;
    height: 47px;
  }
}

@media (max-width: 997px) {
  .headerCart__block {
    position: relative;
    width: auto;
    height: auto;
    background: transparent;
    &::before {
      content: url(../../../../shared/images/cart.svg);
    }
  }
  .headerCart__count {
    top: -3px;
    right: -4px;
    width: 13px;
    height: 13px;
    font-size: 11px;
    line-height: 14px;
  }
}
