.wrapper {
  margin: 0 -50px;
  padding: 30px 30px;
  border: 1px solid var(--Color-blue-light, #639fda);
}

.item {
  height: 100px;
  border: 1px solid #e1e1e1;
}

.item:hover {
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.5);
}
.link {
  padding: 5px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.list {
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  max-height: 368px;
  overflow: auto;
  /* Works on Firefox */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--bw-black-15, rgba(0, 0, 0, 0.15)) transparent;
}

.text {
  margin-bottom: 0;
  text-align: center;
}

/* Works on Chrome, Edge, and Safari */
.list::-webkit-scrollbar {
  width: 12px;
  height: 53px;
}

.list::-webkit-scrollbar-track {
  background: transparent;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 25px;
  width: 12px;
  height: 53px;
  background: var(--bw-black-15, rgba(0, 0, 0, 0.15));
  cursor: pointer;
}

@media (max-width: 1440px) {
  .wrapper {
    margin: 0;
    padding: 10px 10px;
  }
}

@media (max-width: 997px) {
  .list {
    grid-template-columns: 1fr;
    padding: 0 10px 0 0;
    row-gap: 8px;
  }
}
