.mainCatalog {
  display: grid;
  row-gap: 30px;
}
.catalogBtn {
  justify-self: center;
}

@media (max-width: 997px) {
  .mainCatalog__wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .catalogBtn {
    display: none;
  }

  .mainCatalog {
    row-gap: 20px;
  }
}
