@import '@/shared/styles/variables';

.title_xxl {
  //font-weight: 700;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
}
.title_xl {
  font-size: 36px;
  line-height: 44px;
}
.title_lg {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}
.title_md {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.title_md span {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.title_sm {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.text_xl {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.text_default,
.text_span {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 0;
}

.bold {
  font-weight: 700;
} 

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}
.mb {
  margin-bottom: 1rem;
}
.color_default {
  color: $boldColor;
}
.color_alert {
  color: $alertColor;
}
.color_attention {
  color: $attentionColor;
}

.color_fade {
  color: $primaryColor;
}

.color_grey {
  color: #a2a2a2;
}

@media (max-width: 997px) {
  .title_xxl {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
  .title_xl {
    font-size: 30px;
    line-height: 36px;
  }
  .title_lg {
    font-size: 30px;
    line-height: 36px;
  }
  .title_md {
    font-size: 20px;
    line-height: 24px;
  }
  .title_sm {
    font-size: 18px;
    line-height: 21px;
  }
  .text_xl {
    //font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  .text_default,
  .text_span {
    font-size: 12px;
    line-height: 160%;
  }
}
