@import '@/shared/styles/variables';

.mainAdvantages {
  display: grid;
  row-gap: 20px;
}
.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.img {
  height: 67px;
  width: auto;
  margin-right: 25px;
}
.txt {
  color: $primaryColor;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}

@media (max-width: 997px) {
  .title {
    margin-bottom: 14px;
  }
  .list {
    grid-template-columns: initial;
    grid-template-rows: auto;
  }
  .mainAdvantages {
    row-gap: 12px;
  }
  .img {
    height: 40px;
    margin-right: 25px;
  }
}

@media (max-width: 576px) {
  .title img {
    height: 38px;
  }
  .mainAdvantagesList__item {
    margin-bottom: 20px;
  }
}
