@import '@/shared/styles/variables';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page {
  color: $attentionColor;
  /* Button/medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.currPage {
  color: $boldColor;
}

@media (max-width: 500px) {
  .page {
    font-weight: 400;
    font-size: 12px;
  }
}
