.wrapper {
  padding-top: 18px;
  padding-bottom: 18px;
  background: #eceef3;
  display: none;
  height: 100%;
  align-items: center;
}
.mobileHeaderSelectCityBtn {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  &::after {
    content: url(../../../shared/images/general/back.svg);
    transform: rotate(-90deg);
    transition: all 0.2s;
  }
}

.mobileHeaderSelectCityBtn[aria-expanded='true'] {
  &::after {
    transform: rotate(0);
  }
}
.mobileSelectCityWrapper {
  justify-content: flex-end;
  padding: 10px 25px;
  max-width: 100%;
}
@media (max-width: 997px) {
  /*   .mobileSelectCityWrapper {
    padding: 10px 0 25px 10px;
  } */
  .mobileSelectCityWrapper {
    span {
      padding-right: 0;
    }
  }
  .wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    background: none;
  }
  .menu {
    z-index: 100;
    overflow: auto;
    position: relative;
    margin-left: auto;
    padding: 35px 0 25px;
    flex-direction: column;
    height: 100%;
    width: 80%;
    background: #fff;
    box-shadow: 0 0 10px 5px #ddd;
  }
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    overflow: auto;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    transform: translateX(100%);
    &:after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      transform: translateX(0);
      cursor: pointer;
    }
  }
  .navOpened {
    visibility: visible;
    transform: translateX(0);
  }
}
