@import '@/shared/styles/variables';

.product__contentWrapper {
  display: grid;
  row-gap: 30px;
  grid-auto-rows: max-content;
  align-items: flex-start;
}
.product__section {
  display: grid;
  row-gap: 30px;
}
.product__contentMarkWrapper {
  display: flex;
  column-gap: 10px;
}
.img {
  max-height: 200px;
}
.link {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: $attentionColor;
  text-decoration: underline;
}
.product__body {
  display: grid;
  column-gap: 60px;
  grid-auto-flow: column;
  grid-template-columns: 300px 1fr;
}

.product__imgWrapper {
  padding: 58px 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 10px #c1d9f0;
}

.product__contentPriceWrapper {
  display: flex;
  column-gap: 8px;
}
.product__contentBlockWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  ._new_productTable__countBlock {
    max-width: 140px;
  }
}

.product__countBlockWrapper {
  max-width: 140px;
}

@media (max-width: 997px) {
  .product__section {
    row-gap: 12px;
  }
  .product__contentWrapper {
    row-gap: 20px;
  }
  .product__contentAvailabilityWrapper {
    flex-basis: 100%;
    margin-bottom: 12px;
  }
  .product__contentBlockWrapper {
    row-gap: 20px;
    //justify-content: space-between;
    :global {
      ._new_productTable__countBlock,
      ._new_btn-to-cart {
        flex-basis: 45%;
        max-width: 100%;
        justify-content: center;
      }
      ._new_one-click-btn {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
  .product__body {
    grid-auto-flow: row;
    grid-template-columns: auto;
    row-gap: 20px;
    justify-items: center;
  }
}
