@import '@/shared/styles/variables';

.wrapper {
  padding: 36px 31px;
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 30px;
  border: 1px solid #e8e8e8;
}

.content {
  display: grid;
  grid-auto-flow: column;
}
.img {
  max-height: 200px;
}
.imgWrapper {
  padding: 58px 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 4px 10px 0px #c1d9f0;
}
.contentInfo {
  display: grid;
  align-items: flex-start;
  grid-auto-rows: max-content;
  row-gap: 20px;
}
.contentInfoAvailability {
  margin-top: -15px;
}
.contentInfoDesc {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--bw-black-60, rgba(0, 0, 0, 0.6));
  font-size: 12px;
  line-height: normal;
}
.contentInfoTitle {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
}
.markName {
  color: $attentionColor;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
span.contentInfoTitleText {
  line-height: 42px;
}
.btn {
  padding: 12px 32px;
  justify-self: flex-start;
  border-radius: 37px;
  /*   box-shadow: 0px 4px 15px 0px #459dd8 inset; */
}

@media (max-width: 997px) {
  .wrapper {
    padding: 15px;
    grid-template-columns: auto;
    row-gap: 20px;
  }
  .content {
    grid-auto-flow: row;
    row-gap: 20px;
  }
  .contentInfo {
    row-gap: 12px;
  }
  .markName {
    font-size: 18px;
  }
  .priceBlock {
    order: 2;
  }
  .priceBlock h3 {
    font-size: 16px;
  }
  .btn {
    order: 3;
    padding: 7px 10px;
    width: 140px;
    font-size: 12px;
  }
  .contentInfoDesc {
    margin-top: 0;
    font-size: 10px;
  }
  .contentInfoAvailability {
    margin-top: -10px;
  }
  .imgWrapper {
    justify-self: center;
  }
}
