.logo {
  display: flex;
  align-items: center;
}
.logo__txt {
  margin-left: 20px;
}
/*  */

.img {
  width: 183px;
  height: auto;
}

@media (max-width: 1199px) {
  .logo__txt {
    display: none;
  }
}

@media (max-width: 997px) {
  .logo {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .logo {
    height: 100%;
    margin-bottom: 0;
  }
  .img {
    height: auto;
  }
}
