.article-title {
  font-weight: 700;
  font-size: 36px;
  margin: 30px 0;
}

.article-subtitle {
  margin-top: 12px;
  margin-bottom: 8px;
  line-height: 30px;
  font-weight: 700;
  font-size: 24px;
}

.article-link {
  color: #4ea1df;
  text-decoration: underline;
}

.article-img-left {
  float: left;
  display: block;
  max-width: 310px;
  max-height: 350px;
  margin: 0 20px 20px 0;
}

.article-img {
  display: block;
  margin: 20px auto;
  min-width: 500px;
  height: 350px;
}

.article-table {
  border-collapse: collapse;
  border: 1px solid black;
  border-spacing: 0;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.article-table th {
  padding: 5px;
  border: 1px solid black;
}
.article-table th:last-child {
  width: 70%;
}

.image-caption {
  text-align: center;
}

.post-block {
  margin-bottom: 40px;
}

.post-img {
  display: block;
  object-fit: contain;
  height: 190px;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 10px;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  display: inline-block;
}

.post-text {
  font-size: 15px;
  line-height: 140%;
  margin-bottom: 10px;
}

.catalog-seo h2 {
  font-size: 21px;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.catalog-seo .seo-title {
  font-size: 36px;
  font-weight: 700;
}

.catalog-seo p:not(:last-child) {
  margin-bottom: 15px;
}
/* .catalog-seo p {
  line-height: 150%;
} */

@media (max-width: 767px) {
  .article-img {
    min-width: 100%;
    height: 130px;
  }
  .catalog-seo h2 {
    line-height: 36px;
  }
}
