//Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primaryColor: rgba(0, 0, 0, 0.6);
$boldColor: rgba(0, 0, 0, 0.85);
$attentionColor: #2559d9;
$alertColor: #d22020;
