// Variables
@import 'variables';
@import 'normalize';
@import 'articles';

* {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.85);
}
a {
  transition: 0.3s linear;
  text-decoration: none;
}
a,
a:active,
button {
  color: inherit;
}

a:hover {
  color: $attentionColor;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  width: initial;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}
h2 {
  margin-top: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
}
h1,
h4,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.yarl__button {
  background: white;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
}
.swiper-pagination-bullet-active {
  background-image: linear-gradient(to top, #1a5bde 0, #349ccf 100%);
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.swiper-pagination-bullet {
  width: 17px;
  height: 17px;
  background-color: #e6e6e6;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}
.swiper-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 8px 24px rgb(0 0 0 / 18%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  transition: box-shadow 0.2s;
  cursor: pointer;
}
.swiper-button--next {
  background: url(../images/general/next.png) center no-repeat #fff;
  right: -20px;
}
.swiper-button--prev {
  background: url(../images/general/prev.png) center no-repeat #fff;
  left: -20px;
}
._new_listWithCirles {
  list-style-type: disc;
  padding-left: 2rem;
  a {
    display: block;
  }
}

.rc-dialog-header {
  display: none;
}
.rc-dialog-body {
  padding: 0;
}
.rc-dialog-content {
  width: 100%;
  border-radius: 23px;
}

.rc-dialog-close-x:after {
  content: url(../images/cross.svg);
  display: block;
  transform: scale(1.5);
}
.rc-dialog-close {
  opacity: 1;
}
.rc-dialog-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rc-dialog {
  width: 800px;
  display: flex;
  align-items: center;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}


@media (max-width: 997px) {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }

  .swiper-button--next {
    right: 0;
  }
  .swiper-button--prev {
    left: 0;
  }
  * {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}

