@import '@/shared/styles/variables';

.mainPopular-card__list a:hover {
  text-decoration: underline;
}
.mainPopular__wrapper {
  display: grid;
  row-gap: 20px;
}
.img {
  -o-object-fit: initial;
  object-fit: initial;
}
.mainPopular {
  padding-top: 60px;
  padding-bottom: 60px;
}
.mainPopular__subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}
.mainPopular__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.card {
  position: relative;
  background: $attentionColor;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s all ease-in;
  &:hover {
    .card__img {
      opacity: 0.05;
    }
    .card__list {
      display: grid;
      row-gap: 8px;
    }
    .card__content {
      align-items: flex-start;
      justify-content: flex-start;
    }
    .card__title {
      padding: 0;
      margin-bottom: 12px;
      color: #fff;
      background: 0 0;
      display: block;
      width: 100%;
    }
  }
}

.card__img {
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: #d9d9d9;
  background-repeat: no-repeat;
  picture {
    position: relative;
    height: 100%;
  }
}

.card__content {
  position: relative;
  z-index: 3;
  min-height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 20px;
  cursor: pointer;
}
.card__title {
  font-size: 18px;
  color: #222b34;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 12px 22px;
  display: inline-flex;
  font-weight: 600;
}
.card__list {
  display: none;
  margin-bottom: 0;
}

.card__link {
  color: #fff;
  font-size: 14px;
  //text-decoration: underline;
}

@media (max-width: 997px) {
  .mainPopular__list {
    grid-template-columns: auto;
  }
  .mainPopular__wrapper {
    row-gap: 12px;
  }
  .card__content {
    padding: 12px;
  }
  .mainPopular__list {
    row-gap: 12px;
  }
  .mainPopular {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .card__link {
    font-size: 12px;
    line-height: 14px;
  }
  .card__img {
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 300px 200px;
  }
  .img {
    display: none;
  }
}
