@import '@/shared/styles/variables';

.additionalInfo {
  display: grid;
  row-gap: 30px;
}
.additionalInfoList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8px;
}
.additionalInfoItem {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 0;
}
.garant {
  text-decoration: underline;
  cursor: pointer;
  color: $attentionColor;
}
.garant::before {
  content: url(../../../../../../shared/images/svg/markAdditionalGarant.svg);
}
.price::before {
  content: url(../../../../../../shared/images/svg/markAdditionalPrice.svg);
}
.delivery::before {
  content: url(../../../../../../shared/images/svg/markAdditionalDelivery.svg);
}
.insure::before {
  content: url(../../../../../../shared/images/svg/markAdditionalInsure.svg);
}

.modalBody {
  padding: 20px 30px;
  display: grid;
  row-gap: 20px;
}
.modal {
  :global {
    .rc-dialog-close-x:after {
      filter: grayscale(1);
    }
  }
}
.modalBody h3 {
  text-align: center;
}

.additionalInfoContact {
  padding: 10px 20px;
  max-width: 410px;
  display: grid;
  row-gap: 20px;
  border-radius: 8px;
  border: 1px solid var(--bw-black-15, rgba(0, 0, 0, 0.15));
  background: #fff;
}
.additionalInfoContactLink {
  color: $attentionColor;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
.additionalInfoContactItem {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.additionalInfoContactTitle {
  margin-bottom: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--bw-black-60, rgba(0, 0, 0, 0.6));
}
.contactLinkSocial {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: var(--bw-85, rgba(0, 0, 0, 0.85));
  font-size: 12px;
}
.whatapp::before {
  content: url(../../../../../../shared/images/svg/markAdditionalContactWhatsapp.svg);
}
.telegram::before {
  content: url(../../../../../../shared/images/svg/markAdditionalContactTelegram.svg);
}

@media (max-width: 997px) {
  .additionalInfo {
    row-gap: 15px;
  }
  .additionalInfoList {
    row-gap: 0;
  }
  .additionalInfoItem {
    column-gap: 0;
    font-weight: 700;
  }
  .additionalInfoItem::before {
    transform: scale(0.7);
  }
  .additionalInfoContact {
    padding: 10px;
    max-width: 100%;
    row-gap: 5px;
  }
}
