.emptyCart__wrapper {
  display: grid;
  justify-items: center;
  row-gap: 30px;
}

@media (max-width: 997px) {
  .emptyCart__wrapper {
    row-gap: 20px;
    text-align: center;
    justify-items: initial;
  }
}
