@import '@/shared/styles/variables';

.branchInfo__block {
  display: grid;
  row-gap: 25px;
}

.branches__textLink {
  text-decoration: underline;
}

.branchInfo__section {
  display: grid;
  row-gap: 25px;
}

.branchInfo__wrapper {
  display: grid;
  grid-auto-flow: column;
  column-gap: 50px;
  .branches__list {
    display: grid;
    row-gap: 30px;
  }
  .branches__listItem {
    display: flex;
    align-items: center;
    column-gap: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $boldColor;
    &::before {
      content: '';
      background-image: url(../../../../shared/images/addressMarker.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 40px;
      height: 54px;
    }
  }
}
@media (max-width: 767px) {
  .branchInfo__block {
    padding-bottom: 0;
    row-gap: 10px;
  }
  .branchInfo__wrapper {
    grid-auto-flow: row;
    row-gap: 25px;
    .branches__listItem {
      column-gap: 10px;
    }
    .branches__list {
      row-gap: 25px;
    }
    .branches__listItem::before {
      width: 25px;
      height: 25px;
    }
    .branches__listItem {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 25px 1fr;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

@media (max-width: 467px) {
  .branches__Phone{
    display: block;
  }
}
