@import '@/shared/styles/variables';

.reviewsSlider__wrapper {
  position: relative;
  :global {
    .swiper-button {
      top: 46%;
    }
  }
}

.titleWrapper {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.item:last-child {
  margin-bottom: 0;
}
.titleLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: var(--color-blue, $attentionColor);
}

.reviewsSlider__wrapper {
  :global {
    .swiper-pagination {
      display: none;
    }
  }
}
.reviewsSlider__wrapper {
  :global {
    .swiper-slide > div {
      width: 80%;
      margin: auto;
    }
  }
}

@media (max-width: 997px) {
  .reviewsSlider__wrapper {
    :global {
      .swiper-button--next,
      .swiper-button--prev {
        display: none;
      }
    }
  }
  .reviewsSlider__wrapper {
    :global {
      .swiper-pagination {
        margin-top: 12px;
        display: flex;
      }
    }
  }
  .titleWrapper {
    margin-bottom: 12px;
    column-gap: 12px;
  }
  .titleLink {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 576px) {
  .reviewsSlider__wrapper {
    :global {
      .swiper-slide > div {
        width: 100%;
      }
    }
  }
}
