@import '@/shared/styles/variables';

.input_file {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: auto;
  &:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../../images/fileInput.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
}
.btn {
  position: relative;
  display: inline-block;
  color: rgb(255 255 255);
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  color: $primaryColor;
  background-color: transparent;
  cursor: pointer;
}

.fileWrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.btnRemove {
  display: flex;
  align-items: center;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);

  &::before {
    content: '';
    width: 16px;
    height: 2px;
    background: $attentionColor;
    border-radius: 10px;
  }

  &::after {
    content: '';
    position: absolute;
    transform: rotate(90deg);
    width: 16px;
    height: 2px;
    background: $attentionColor;
    border-radius: 10px;
  }
}

.input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.input:focus + .btn {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
