.wrapperEmpty {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 30px;
  strong {
    font-weight: bold;
  }
}

.wrapperResult {
  display: grid;
  row-gap: 30px;
}
