// @import '@/shared/styles/variables';

.introSliderWrapper {
  position: relative;

  :global {
    .swiper-pagination {
      display: none;
    }
  }
}

.introSlide {
  padding: 56px 60px;
  min-height: 437px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  border-radius: 32px;

  @media (max-width: 830px) {
    padding: 48px;
  }

  @media (max-width: 500px) {
    padding: 20px;
    min-height: 313px;
    align-items: center;
    justify-content: flex-start;
  }
}

.introSlideDescription {
  color: #00000099;
  margin: 24px 0 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.36px;

  @media (max-width: 500px) {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;
  }
}

.introSlideCatalogLinks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 32px;
  max-width: 499px;

  @media (max-width: 500px) {
    margin-top: 16px;
    justify-content: center;
    gap: 4px;
  }

  &__item {
    padding: 8px 16px;
    background: white;
    border-radius: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.32px;

    @media (max-width: 500px) {
      font-size: 12px;
      line-height: 14px;
      font-weight: 600;
      letter-spacing: normal;
      padding: 6px 10px;
    }
  }

  &__itemMore {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.32px;
    color: rgba(0, 0, 0, 0.40);

    @media (max-width: 500px) {
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
    }
  }
}

.introSlideContacts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;

  @media (max-width: 500px) {
    width: 100%;
    justify-content: space-between;
  }

  &__item {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.4px;

    @media (max-width: 830px) {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.32px;
    }

    @media (max-width: 500px) {
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      letter-spacing: -0.28px;
    }
  }
}

.introSlide__first {
  background: #EAF1FC;
  background-image: url(../../../../shared/images/intro-slide-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url(../../../../shared/images/intro-slide-1-2x.png);
  }

  @media (max-width: 997px) {
    background-position-x: 150%;
  }

  @media (max-width: 830px) {
    background-position: 260px center;
    background-size: auto 100%;
  }

  @media (max-width: 500px) {
    background-image: url(../../../../shared/images/intro-slide-1-m.png);
    background-position: bottom center;
    background-size: 100% auto;

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url(../../../../shared/images/intro-slide-1-m-2x.png);
    }
  }

  .introSlideTitle {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.72px;
    margin: 0;

    @media (max-width: 830px) {
      font-size: 28px;
      line-height: normal;
      letter-spacing: -0.56px;
    }

    @media (max-width: 500px) {
      font-size: 20px;
      line-height: 22px;
      letter-spacing: normal;
      text-align: center;
    }

    &__blue {
      color: #2559D9;
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit;
      line-height: inherit;
      letter-spacing: inherit;
    }
  }
}

.introSlide__second {
  background: #EAF1FC;
  background-image: url(../../../../shared/images/intro-slide-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url(../../../../shared/images/intro-slide-2-2x.png);
  }

  @media (max-width: 997px) {
    background-position-x: 150%;
  }

  @media (max-width: 830px) {
    background-position: 350px center;
    background-size: auto 100%;
  }

  @media (max-width: 500px) {
    background-image: url(../../../../shared/images/intro-slide-2-m.png);
    background-position: bottom right;
    background-size: 302px;

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url(../../../../shared/images/intro-slide-2-m-2x.png);
    }
  }

  .introSlideTitle {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.8px;
    margin: 0;

    @media (max-width: 830px) {
      font-size: 28px;
      line-height: normal;
      letter-spacing: -0.56px;
    }

    @media (max-width: 500px) {
      font-size: 20px;
      line-height: 22px;
      letter-spacing: normal;
      text-align: center;
    }

    &__blue {
      color: #2559D9;
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit;
      line-height: inherit;
      letter-spacing: inherit;
    }
  }

  .introSlideBtn {
    background: #639FDA66;
    color: black;
  }

  .introSlideContacts__item {
    color: rgba(0, 0, 0, 0.60);
  }
}
