@import '@/shared/styles/variables';

.productInfo__section {
  margin: 0 0 60px;
  display: grid;
  row-gap: 30px;
}

.catalogItem__wrapper {
  display: grid;
  row-gap: 30px;
}
.tabList__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

@media (max-width: 997px) {
  .productInfo__section {
    margin: 0 0 30px;
  }
  .tabList__item {
    font-size: 18px;
    line-height: 21px;
  }
  .catalogItem__wrapper {
    row-gap: 15px;
  }
}
