.tabList {
  display: flex;
  column-gap: 60px;
}

.item {
  position: relative;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: var(--bw-black-60, rgba(0, 0, 0, 0.6));
  cursor: pointer;
}

.active {
  color: rgba(0, 0, 0, 0.85);
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2559d9;
    border-radius: 23px;
  }
}

@media (max-width: 997px) {
  .tabList {
    column-gap: 20px;
  }
  .item {
    font-size: 18px;
    line-height: 21px;
  }
}
