.tabList {
  display: flex;
  column-gap: 60px;
  @media (max-width: 997px) {
    column-gap: 20px;
  }
}

.tabset > input[type='radio'] {
  position: absolute;
  left: -200vw;
}

.tabset section {
  display: none;
}

.tabset > input:first-child:checked ~ article > section:first-child,
.tabset > input:nth-child(3):checked ~ article > section:nth-child(2),
.tabset > input:nth-child(5):checked ~ article > section:nth-child(3),
.tabset > input:nth-child(7):checked ~ article > section:nth-child(4),
.tabset > input:nth-child(9):checked ~ article > section:nth-child(5),
.tabset > input:nth-child(11):checked ~ article > section:nth-child(6) {
  display: block;
}

.tabset {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: rgba(34, 43, 52, 0.6);
}

.tab {
  position: relative;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: var(--bw-black-60, rgba(0, 0, 0, 0.6));
  cursor: pointer;
  display: inline-block;
  border: none;
  transition: 0.3s;
  &:not(:last-child) {
    margin: 0 30px 0 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  &:last-of-type {
    margin: 0 0 0 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  @media (max-width: 997px) {
    font-size: 18px;
    line-height: 21px;
    &:not(:last-child) {
      margin: 8px 10px 0 0;
    }
    &:last-of-type {
      margin: 8px 10px 0 0;
    }
    &:hover {
      color: #222b34;
    }
  }
}
.tabset > article {
  padding-top: 30px;
  font-size: 18px;
  line-height: 26px;
  color: #222b34;
  background: white;
  @media (max-width: 997px) {
    padding-top: 20px;
    line-height: 24px;
    font-size: 16px;
  }
}

.tabset > input:checked + label {
  color: rgba(0, 0, 0, 0.85);
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2559d9;
    border-radius: 23px;
  }
}
