.wrapper {
  padding: 24px;
  display: grid;
  place-items: center;
  row-gap: 10px;
  text-align: center;
}
.link {
  color: var(--bw-85, rgba(0, 0, 0, 0.85));
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
