.wrapper {
  display: grid;
  row-gap: 20px;
}

.list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.item {
  display: grid;
  row-gap: 10px;
}

.imgWrapper {
  width: 100%;
}

@media (max-width: 997px) {
  .wrapper {
    row-gap: 15px;
  }
  .list {
    grid-template-columns: 1fr;
    column-gap: 15px;
    row-gap: 20px;
  }
}
