@import '@/shared/styles/variables';

.cartTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: $boldColor;
}
.cartTotal span {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: $boldColor;
}

@media (max-width: 991px) {
  .cartTotal span {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}
