@import '@/shared/styles/variables';

.main {
  padding: 14px 20px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: #ffffff;
  border: 1px solid rgba(99, 159, 218, 0.4);
  border-radius: 12px;
  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}

.checkbox[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 15px;
  position: relative;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  display: inline-block;
}

.checkbox[type='checkbox']::before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  //border: 1px solid rgba(99, 159, 218, 0.4);
  border-radius: 5px;
  cursor: pointer;
}

.checkbox[type='checkbox']:checked::before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid $attentionColor;
  border-radius: 5px;
  background: $attentionColor url(../../images/checked.svg);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

@media (max-width: 767px) {
  .main {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 160%;
  }
  .checkbox[type='checkbox'],
  .checkbox[type='checkbox']::before {
    width: 20px;
    height: 20px;
  }
  .checkbox[type='checkbox']:checked::before {
    width: 20px;
    height: 20px;
  }
}
