.paymentDelivery__block {
  margin-bottom: 60px;
  display: grid;
  row-gap: 60px;
}

.paymentDelivery__wrapper {
  display: grid;
  row-gap: 30px;
}

@media (max-width: 997px) {
  .paymentDelivery__block {
    margin-bottom: 40px;
    row-gap: 20px;
  }
  .paymentDelivery__wrapper {
    row-gap: 20px;
  }
}
