@import '@/shared/styles/variables';

.hide {
  display: none;
}

.table__head {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr 1fr 1fr 50px;
}
.head__cell:not(:first-child) {
  text-align: center;
}
.head__cell {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: $boldColor;
}

@media (max-width: 997px) {
  .table__head {
    display: none;
  }
}
