.providerPage__wrapper {
  margin-bottom: 67px;
  display: grid;
  row-gap: 30px;
}

.providerPage__block {
  display: grid;
  row-gap: 53px;
}

@media (max-width: 997px) {
  .providerPage__wrapper article {
    display: none;
  }
  .providerPage__wrapper {
    margin-bottom: 40px;
    row-gap: 12px;
  }
}
