.slider_form {
  max-width: 320px;
  border: 1px solid #639fda;
  background: #fff;
  border-radius: 8px;
  padding: 20px 24px;
  margin: 13px 30px 13px auto;
  &__wrapper {
    position: relative;

    &::before {
      position: absolute;
      background-image: url(../../../../shared/images/b1.webp);
      content: '';
      width: 459px;
      height: 373px;
      left: -350px;
      z-index: -1;
      bottom: -25px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__labels {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    textarea,
    label {
      width: 100%;
    }

    input {
      padding: 9px 20px;
    }
  }

  &__policy {
    margin: 12px 0;
    span {
      font-size: 12px;
    }
  }
}

.button{
  width: 100%;
}

@media (max-width: 1200px) {
  .slider_form__wrapper::before {
    display: none;
  }
}
@media (max-width: 1200px) {
  .slider_form{
    display: none;
  }
}
