.list {
  margin-top: 30px;
  display: flex;
  column-gap: 20px;
}
.title {
  margin-top: 12px;
}
.img {
  position: relative;
  cursor: pointer;
}

.img:hover {
  .img__loupe {
    display: block;
  }
}
.img__loupe {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
