@import '@/shared/styles/variables';

.item {
  display: grid;
  grid-template-areas:
    'img info'
    'img txt';
  //padding: 30px 0 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.infoWrapper {
  grid-area: info;
}

.item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 81.5px;
}

.img {
  grid-area: img;
  width: 183px;
  height: 257px;
  background: #ffffff;
  //border: 1px solid rgba(99, 159, 218, 0.4);
  min-width: 183px;
  margin-right: 60px;
  cursor: pointer;
  .img__loupe{
    height: auto;
  }
  img{
    height: 100%;
  }
}
.img a {
  position: relative;
  top: 0;
}

.img__pdf {
  width: 183px;
  height: 255px;
}
.img:hover {
  .img__loupe {
    display: block;
  }
}
.img__loupe {
  display: none;
  position: relative;
  top: calc(50% - 290px);
  left: calc(50% - 30px);
}

.img__paperclip {
  position: relative;
  top: calc(50% - 11px);
  left: calc(50% - 11px);
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $boldColor;
  margin: 0 0 8px 0;
}

.position,
.company {
  color: $primaryColor;
}

.text {
  grid-area: txt;
  color: $boldColor;
}

.position {
  margin: 0 0 8px 0;
}

.company {
  margin: 0 0 30px 0;
}

@media (max-width: 767px) {
  .item {
    grid-template-areas:
      'img info'
      'txt txt';
    grid-template-columns: 2fr 2fr;
    row-gap: 20px;
  }
  .item:last-child {
    margin-bottom: 20px;
  }
  .img {
    margin-right: 0;
  }
  .name {
    font-size: 18px;
    line-height: 21px;
  }
  .position,
  .company {
    font-size: 12px;
    line-height: 14px;
  }
  .text {
    text-align: left;
    font-size: 12px;
    line-height: 160%;
  }
  .infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .img {
    height: auto;
    width: auto;
    min-width: 120px;
  }
  .item {
    position: relative;
    grid-template-columns: 120px 1fr;
    column-gap: 20px;
  }
  .img__pdf {
    width: auto;
    height: auto;
  }
  .img__loupe {
    position: absolute;
    top: 53px;
    left: 31px;
  }
  .item:last-child {
    margin-bottom: 30px;
  }
}
