@import '@/shared/styles/variables';

.menu__item {
  position: relative;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.menu__link {
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 16px;
  &:hover {
    color: $attentionColor;
  }
}

@media (max-width: 1200px) {
  .menu__link {
    font-size: 14px;
  }
}



@media (max-width: 997px) {

  .menu__item {
    padding: 10px 25px;
    height: auto;
    flex-direction: column;
    align-items: initial;
    text-align: right;
    align-items: flex-end;
  }
  .menu__link {
    justify-content: flex-end;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
  }
}
@media (max-width: 991px) {
  .menu__item:not(:last-child) {
    border-right: none;
  }
}