.main {
  padding: 14px 20px;
  border: 1px solid rgba(99, 159, 218, 0.4);
  border-radius: 12px;
  resize: none;
  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 767px) {
  .main {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 160%;
  }
}
